################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StopwatchSimply/bin
/StopwatchSimply/obj
/.vs/StopwatchSimply/v16
